* {
    margin: 0;
    padding: 0;
}

img {
    height: 100vh;
    width: 100vw;
    object-fit: scale-down;
}

.main__container {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    overflow: hidden;
    background: linear-gradient(
        to right bottom,
        rgba(255, 0, 0, 1) 0%,
        rgba(255, 154, 0, 1) 10%,
        rgba(208, 222, 33, 1) 20%,
        rgba(79, 220, 74, 1) 30%,
        rgba(63, 218, 216, 1) 40%,
        rgba(47, 201, 226, 1) 50%,
        rgba(28, 127, 238, 1) 60%,
        rgba(95, 21, 242, 1) 70%,
        rgba(186, 12, 248, 1) 80%,
        rgba(251, 7, 217, 1) 90%,
        rgba(255, 0, 0, 1) 100%
    );
}

.title {
    margin-top: 2%;
    font-family: Monospace, sans-serif;
}
